body {
        padding:            0;
        margin:             0;
        background:         url(../images/arduino_fond.png) #e1faef top right no-repeat;
        border-width:       0px;
        font-family:        ubuntu;
        font-size:          18px;
        color:              #3b3b3b;
}
div#fenetre{ /*id définie pour le tp5 car il y a un autre div */
        width:              100%;
        border-width:       0px;
        background:         linear-gradient(to bottom left, rgba(225,250,239,0),rgba(1,160,91,1));
        top:                120px;   /*valeur par défaut */
        position:           relative;

}
div#bandeau{    /*ajout pour le tp5*/
        position:           fixed;
        top:                0;
        background:         rgba(1,137,76,0.5);
        height:             80px;
        width:              100%;
        z-index:            10;
        box-shadow:         0 2px 2px 2px rgba(1,160,91,0.8);
        border-color:       rgba(1,137,76,1);
        text-align:         center;             /*permet de centrer le contenu - ici les <dl> rendu en inline-block*/
        transition-property: height;
        transition-duration:      0.5s;
}
div#bandeau:hover{
        height:             120px;
}
span {

        font-variant:       small-caps;
        font-weight:        bold;
        font-family:        Arial;
        font-size:          24px;
        color:              #edc110;
        margin-left:        20px;
        text-shadow:        2px 2px 4px #013d23;
}


span#titre {
        display:            table;
        font-size:          42px;
        margin-right:       auto;
        margin-left:        auto;
        color:              #FFEE3D;
}

hr {
        border:             0;
        height:             2px;
        background-image:   linear-gradient(to right, rgba(0,0,0,0) ,rgba(1,61,31,0.7),rgba(0,0,0,0));
        box-shadow:         1px 1px 3px rgba(1,61,35,0.3);
        width:              80%;

}

p {
        background-color:   rgba(187,231,212,0.6);
        text-align:         justify;
        margin-left:        50px;
        margin-right:       50px;
}

p:first-letter {
        font-size:          300%;
        font-family:        Arial;
        font-style:         italic;
        font-weight:        bold;
        text-shadow:        2px 2px 3px black;
        float:              left;
        margin:             2px;
}

li {
        margin-left:        100px;
        list-style-image :  url(../images/puce.png);
}

a, a:visited{
        color:              #e32b22;
        font-variant:       small-caps;
        text-decoration:    none;
        -moz-transition-property: color;
        -moz-transition-duration: 1s;
}

a:hover{
        color:              #fff;
        text-decoration:    overline underline;
        text-shadow:        1px 1px 1px #913d39;

}

 p#srvDomo iframe{
        display:            none;
        position:           fixed;
        top:                200px;
        left:               200px;
        width:              1200px;
        height:             800px;
        /*z-index:            10;*/

}
p#srvDomo:hover iframe{
        display:            block;
}
/*partie ajoutée pour le tp5*/
dl {
    position:       relative;       /*dépendant de son conteneur <div> et de ses voisins <dl>*/
    display:        inline-block;   /*dl est de type block par défaut donc impossible de les aligner d'où inline-block*/
    width:          150px;          /*taille fixée pour le centrage voir div#bandeau*/
    vertical-align: top;            /*baseline par défaut, réaligne les hauts de menu déroulant*/

}
dt {
    text-align:     center;
    border-style: 1px solid;
    background-color: rgba(225,250,239,1);
    color:            green;
    display:        none;
    transform:      scaleY(0);
    transform-origin: 50% 0;
    transition-property:  transform;
    transition-duration:      0.5s;

}
dd{
    text-align:     center;
    margin-left:    auto;
    margin-right:   auto;
    background-color:   rgba(0,137,0,1);
    color:          #e1faef;
    display:        none;
}
div#bandeau:hover dt{
    display:        block;
    transform:      scaleY(1);
}

dl:hover dd {
    display:    block;
    cursor:     pointer;
}
dl:hover {
    box-shadow: 0px 2px 2px 2px rgba(30,50,30,0.8);


}
dd:hover{                           /*effet négatif au passage de la souris*/
    background-color: #e1faef;
    color:            green;
}

fieldset{

    position: fixed;
    top: 200px;
    left: 30%;
    box-shadow: 3px 3px 5px #115511;
    background-color: #70C19D;
}

legend{
  font-variant: small-caps;
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 1px #115511;
