body {

	background-image: url("../images/lys.png");
	
}

div {
	z-index: 10;

}

span {
	text-shadow: 1px 1px white;
	margin-left: auto;
	margin-right: auto;
}

#titre {
	color: green;
}

p {
	font-size: 7px;
	background-color: grey;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}