body {
	margin: 0px;
	padding: 0px;
}

span {
	border: solid blue 0px;
	margin-top: 0px;
	display: inline-block;
}



#BoutonsReglageTempo input{
	display: block;
}

#data input {
	
	display: none;
}
