body {
    padding: 0;
    margin: 0;
    border-width: 0px;
    font-family: ubuntu;
    font-size: 18px;
    color: #3b3b3b;
    background-color: rgba(1, 200, 76, 0.5);
}

span {

    font-variant: small-caps;
    font-weight: bold;
    font-family: Arial;
    font-size: 24px;
    color: #edc110;
    margin-left: 20px;
    text-shadow: 2px 2px 4px #013d23;
}

span#titre {
    display: table;
    font-size: 42px;
    margin-right: auto;
    margin-left: auto;
    color: #FFEE3D;
}

a,
a:visited {
    color: #e32b22;
    font-variant: small-caps;
    text-decoration: none;
    -moz-transition-property: color;
    -moz-transition-duration: 1s;
}

a:hover {
    color: #fff;
    text-decoration: overline underline;
    text-shadow: 1px 1px 1px #913d39;
}

fieldset {

    background-color: rgba(1, 137, 76, 0.5);
    box-shadow: 3px 3px 3px #114411;
}

legend {
    font-size: 28px;
    color: white;
    text-shadow: 1px 1px 2px #114411;
    font-variant: small-caps;
}

audio {

    width: 50%;
}