body {

background       : rgb(99, 62, 193);
background-repeat: no-repeat;

}	 

fieldset{

    background-color: rgb(130, 101, 205);
    margin-right    : 50%;
    box-shadow      : 3px 3px 5px #115511;

}

body:nth-child(1n) {
	margin-top: 5%;
}

legend{
  
  color       : orange;
  font-variant: small-caps;
  font-size   : 24px;
  text-shadow : 1px 1px 1px grey;

}

audio {

	width      : 70%;
	margin-left: 10%;
}


a {
	color           : red;
	background-color: #272822;
	text-decoration : none;

	display     : block;
	margin-right: 40%;
	
}

