
body {
	
	border: 0px solid black;

	background-image: url("../images/arduino_fond.png");
	background-color: #E1FAEF;

	background-repeat: no-repeat;
	background-position: top right;
		
    margin:  0px;
    padding: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    border-bottom: none;
    

    /*formatage du text par défaut*/
 	font-family: unbuntu;
 	font-style: 18pt;
 	color: #3b3b3b;
		 
	} 


/* couche pour afficher le dégrader */	
#image_de_fond_body {

	background-image: linear-gradient(to bottom left, rgba(225, 250, 239, 0) 5%, rgba(1, 160, 91, 1));

}


/* gestion des titres */
span {
		
	font-family: Arial;
 	font-variant: small-caps;
 		
 	font-weight: bold; 
    color: #edc110;
        
    margin-left: 20px;
    font-size:   24px;

    text-shadow: 1px 1px #006600;

}


/* gestion du titre de la page */
#grand_Titre {
	
	border: 0px solid black;

	display: block;

	font-size: 32px;
	
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}


/*gestion du style des barres de séparation*/
hr {
	
	border: 0px;

	height: 2px;
	size:   1px;

	width: 80%;
    text-align: center;
    
    background: linear-gradient(to right, rgba(0,0,0,0.36) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0.36) 100%);
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,1);


}


p { 

	text-align: justify;
	
	border:0px solid red;
	background: linear-gradient(to right, rgba(237,237,237,0.55) 0%, rgba(255,255,255,0.55) 100%);

	margin-left:  50px;
	margin-right: 50px;


}

p::first-letter {
    border:0px solid blue;
	
	font-size: 42pt;

	font-family: Arial;
	color: #2F4F4F;

	font-weight: bold;
	font-style: italic;

	text-shadow: 1px 1px grey;
	
}


/*definition des puces*/
ul.puce {
	
	margin-left: 100px;
	list-style-image: url(../images/puce.png);


}


/*definition du style des liens*/
a {

	color: #E32B22;
	font-variant: small-caps;
	text-decoration: none;
 
	
}

a:hover {

	color: #FFFFFF;

	text-decoration: underline overline;
	text-shadow: .9px .9px #913D39;

	transition-property : color;
	transition-duration: 1s;

}


/*gestion de la lightbox*/
iframe {
	border: 5px solid rgb(198,234,218);
	
	width:1200px;
	height:800px;
	
	display: none;
	

	margin-left:200px;
    margin-top:-500px;
    
    position: relative;
    z-index: 2;

    padding: 0px;

}


#collision_affichage_iframe:hover iframe {

	display: block;

}

#collision_affichage_iframe {

border: 0px solid red;


}
