
body {
	
	border: 0px solid black;
		
    margin:  0px;
    padding: 0px;
    padding-bottom: 0px; 
    

    /*formatage du text par défaut*/
 	font-family: unbuntu;
 	font-style: 18pt;
 	color: #3b3b3b;
		 
	} 

/* couche pour afficher le dégrader */	
#image_de_fond_body {

	background-image: linear-gradient(to bottom left, rgba(225, 250, 239, 0.42) 5%, rgba(1, 160, 91, 1));


}

/* gestion des titres */
span {
		
	font-family: Arial;
 	font-variant: small-caps;
 		
 	font-weight: bold; 
    color: #edc110;
        
    margin-left: 20px;
    font-size:   24px;

    text-shadow: 1px 1px #006600;

}


/* gestion du titre de la page */
#grand_Titre {
	
	border: 0px solid black;

	display: block;

	font-size: 32px;
	
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}


p {

	text-align: justify;
	
	border:0px solid red;
	background: linear-gradient(to right, rgba(237,237,237,0.55) 0%, rgba(255,255,255,0.55) 100%);

	margin-left:  50px;
	margin-right: 50px;


}

p::first-letter {
    border:0px solid blue;
	
	font-size: 42pt;

	font-family: Arial;
	color: #2F4F4F;

	font-weight: bold;
	font-style: italic;

	text-shadow: 1px 1px grey;
	
}


/*definition du style des liens*/
a {

	color: #E32B22;
	font-variant: small-caps;
	text-decoration: none;
 
	
}

a:hover {

	color: #FFFFFF;

	text-decoration: underline overline;
	text-shadow: .9px .9px #913D39;

	transition-property : color;
	transition-duration: 1.5s;

}





