body {
	margin: 0px;
	padding: 0px;
	background: linear-gradient(to top right, #c48f65 0%, #4a311c 100%);
	background-repeat: no-repeat;
}

canvas {

	border: 1px solid black;
	margin: 0px;
	
}

.choix_couleur {

	display: inline-block;
}

.choix_couleur > input {

	width: 25px;
	height: 25px;
	
}

.choix_couleur > span {
	
	display: block;
}
label {
	
	color: rgb(148, 71, 67);
	text-shadow: 1px 1px black;
	font-size: 20px;
}

#canvasImage {
	cursor: crosshair;
}

.video {
	margin-top: 25px;
	margin-left: 10px;
	display: block;
}