/*fichier CSS tp 4*/

body {
        padding:            0;
        margin:             0;
        background:         url(../images/arduino_fond.png) #e1faef top right no-repeat;
        border-width:       0px;
        font-family:        ubuntu;
        font-size:          18px;
        color:              #3b3b3b;
}

body>div {
        width:              100%;
        border-width:       0px;
        background:         linear-gradient(to bottom left, rgba(225,250,239,0),rgba(1,160,91,1));
}


span {  
        
        font-variant:       small-caps;
        font-weight:        bold;
        font-family:        Arial;
        font-size:          24px;
        color:              #edc110;
        margin-left:        20px;
        text-shadow:        2px 2px 4px #013d23;
}


span#titre {
        display:            table;
        font-size:          42px;
        margin-right:       auto;
        margin-left:        auto;
        padding-bottom: 0px;
        border: 0px solid orange;
        color: #ffee3d;
}

hr {
        border:             0;
        height:             2px;
        background-image:   linear-gradient(to right, rgba(0,0,0,0) ,rgba(1,61,31,0.7),rgba(0,0,0,0));
        box-shadow:         1px 1px 3px rgba(1,61,35,0.3);
        width:              80%;
        
}

p {
        background-color:   rgba(187,231,212,0.6);
        text-align:         justify;
        margin-left:        50px;
        margin-right:       50px;
}

p:first-letter {
        font-size:          300%;
        font-family:        Arial;
        font-style:         italic;
        font-weight:        bold;
        text-shadow:        2px 2px 3px black;
        float:              left;
        margin:             2px;
}

li {
        margin-left:        100px;
        list-style-image :  url(../images/puce.png);
}

a, a:visited{
        color:              #e32b22;
        font-variant:       small-caps;
        text-decoration:    none;
        -moz-transition-property: color;
        -moz-transition-duration: 1s;
}

a:hover{
        color:              #fff;
        text-decoration:    overline underline;
        text-shadow:        1px 1px 1px #913d39;
	
}

 p#srvDomo iframe{
        display:            none;
        position:           fixed;
        top:                200px;
        left:               200px;
        width:              1200px;
        height:             800px;
        /*z-index:            10;*/
    
}
p#srvDomo:hover iframe{
        display:            block;
}

/* gestion du bandeau */
#bandeau{
	border: 0px solid red;

	
	top: 0px;
	left: 0px;

    width: 100%;
    height: 45px;
	position: fixed;

	background-color: rgba(1, 137, 76, 0.5);

	box-shadow: 4px 4px 16px 0px black;
        
    transition-property: height;
    transition-duration: 0.5s;
	transition: height 0.5s, visibility 1s;

}

#bandeau:hover{

        height:110px;
}
#bandeau:hover #conteneur_menu dl {
	visibility: visible;
}

#bandeau:hover #conteneur_menu{

        display: block;
}


#conteneur_menu{
	
        border: 0px solid black;
        padding-left: 30%;
        padding-right: auto;

        display: none;
}

dl{
        border: 0px solid blue;
        
        margin-right: 10px; 
        margin-top: 0px;
        
        float: left;
        z-index: 2;

        visibility: hidden;
}

dt{
        border: 0px solid red;
        display: inline-block;
        padding-right: 50px;        

        color: green; 
        background: #e1faef;

        z-index: 2;
}

dd{
        border :0px solid black;
        margin: 0px;

        color: #e1faef;
        background:rgb(0, 137, 0);

        box-shadow: 2px 2px black;

        display: none; 

        z-index: 2;
}

dl:hover dd{
        display: block;

}

dd:hover{
    
     color: rgb(0, 137, 0) ; 
     background: #e1faef;   
}
